<div class="sobre-nosotros-container">
    <h2>Sobre Nosotros</h2>
  
    <div class="imagen-logotipo-container">

        <img class="imagen-sobre-nosotros" src="assets/img/logotipo.png" alt="Motos NakedMotorsES"  />
    </div>
  
    <p>
      Bienvenido a <strong>NakedMotorsES</strong>, tu tienda online de confianza especializada en el mundo del motociclismo.
      Nos apasionan las motos tanto como a ti, y por eso nos esforzamos en ofrecerte los mejores productos para que vivas tu pasión con seguridad, estilo y libertad.
    </p>
  
    <p>
      En nuestra tienda encontrarás una cuidada selección de <strong>guantes, trajes de moto, cascos, botas, ruedas y escapes</strong>, así como las mejores motos para los amantes de la velocidad, la aventura y la carretera.
    </p>
  
    <p>
      <strong>NakedMotorsES</strong> no es solo una tienda, es el resultado de un proyecto con alma: desarrollada por un estudiante del IES Virgen Del Carmen <strong>Jaén</strong> como parte del <strong>proyecto final del Grado Superior de Desarrollo de Aplicaciones Multiplataforma (DAM)</strong>.
      Esta combinación nace por la pasión por el mundo del motor, y tiene como objetivo ofrecer una experiencia digital funcional, moderna y accesible para todos los moteros de España.
    </p>
  
    <div class="bloque-mision-valores">
      <div class="mision">
        <h3>Nuestra Misión</h3>
        <p>
          Facilitar el acceso a equipamiento y accesorios de moto de alta calidad, promoviendo la seguridad, el confort y el estilo del motorista moderno, a través de una plataforma desarrollada con dedicación y visión tecnológica.
        </p>
      </div>
  
      <div class="valores">
        <h3>Nuestros Valores</h3>
        <ul>
          <li><strong>Pasión por las motos</strong>: Vivimos y entendemos la cultura motera.</li>
          <li><strong>Compromiso</strong>: Nos esforzamos en cada detalle, desde el desarrollo hasta la atención al cliente.</li>
          <li><strong>Calidad</strong>: Seleccionamos productos que cumplen con los estándares más exigentes.</li>
          <li><strong>Innovación</strong>: Creado como un proyecto real, funcional y con proyección.</li>
        </ul>
      </div>
    </div>
  
    <div class="gracias">
        <p>
          ¡Gracias por visitar NakedMotorsES! Esperamos que encuentres todo lo que necesitas para equiparte y seguir rodando con total confianza.
        </p>

    </div>
  </div>
  