<div class="carrito-container">
    <h2>Carrito de la Compra</h2>
  
    <div *ngIf="productos.length === 0">
      <p>Tu carrito está vacío.</p>
    </div>
  
    <div *ngIf="productos.length > 0" class="productos-lista">
      <div *ngFor="let producto of productos; let i = index" class="producto-item">
        <img [src]="producto.imagenurl" [alt]="producto.nombre" />
        <div class="info">
          <h4>{{ producto.nombre }}</h4>
          <p>Precio: {{ producto.precio }} €</p>
          <label>
            Cantidad:
            <input type="number" [(ngModel)]="producto.cantidad" min="1" (change)="actualizarTotal()" style="width: 60px;" />
          </label>
          <p>Subtotal: {{ producto.precio * producto.cantidad }} €</p>
          <button (click)="eliminarProducto(i)">Eliminar</button>
        </div>
      </div>
  
      <div class="resumen">
        <h3>Total: {{ total | number:'1.2-2'}} €</h3>
        <button (click)="vaciarCarrito()">Vaciar Carrito</button>
        <button class="btn-comprar" >Comprar</button>
      </div>
    </div>
  </div>
  