/* You can add global styles to this file, and also import other style files */
.snackbar-success {
    background-color: #28a745 !important; /* Verde estilo "success" */
    color: white !important;
    font-size: 18px;
    font-weight: bold;
    
  }