.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; 
  padding: 0 20px;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
}

.numero-tlfn{
  color: red;
}
.btn-redes-sociales {
  
   border-radius: 80px;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(29, 5, 95);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  
}
.redes-sociales {
  display: flex;
  align-items: center;
  gap: 10px;
}



.btn-redes-sociales:hover {
 filter: brightness(1.2);
  border-color: #ff4081;
  cursor: pointer;
  transform: scale(1.05);
}

.instagram{
  background-image: url("/assets/img/insta.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.facebook{
  background-image: url("/assets/img/facebook.png");
  background-size: 115%; 
  background-position: center;
  background-repeat: no-repeat;
}
.twitter{
  background-image: url("/assets/img/twitter.png");
  background-size: 100%; 
  background-position: center;
  background-repeat: no-repeat;
}

.llamada{
  color: white;
  font-size: 23px;
}

img{
  width: 120px;
  height: 31px;
}

.menu-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-menu {
  display: flex;
  align-items: center;
  line-height: 64px;
}

.sider-menu {
  height: 100%;
  border-right: 0;
}

.inner-layout {
  padding: 0 24px 24px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.pi-shopping-cart {
  margin-right: 10px;
}
