<nz-layout>
  <nz-header class="header">
    <div class="logo"></div>
    <div class="menu-container">
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li nz-menu-item nzSelected>
          <i class="pi pi-shopping-cart"></i>Carrito
        </li>
        <li nz-menu-item>Iniciar Sesión</li>
      </ul>
    </div>
  </nz-header>

  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-submenu nzOpen nzIcon="user" nzTheme="outline" nzTitle="Categorías">
          <ul>
            <li nz-menu-item nzSelected>Motos</li>
            <li nz-menu-item>Guantes</li>
            <li nz-menu-item>Cascos</li>
            <li nz-menu-item>Ruedas</li>
            <li nz-menu-item>Escapes</li>
            <li nz-menu-item>Botas</li>
            <li nz-menu-item>Trajes Motociclismo</li>
          </ul>
        </li>
      </ul>
    </nz-sider>

    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content>Content</nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
