<nz-layout>
  <nz-header class="header">
    <div class="llamada">Llámenos: <span class="numero-tlfn">612345678</span></div>

    <div class="menu-container">
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li nz-menu-item [routerLink]="'/mis-likes'" (click)="canLikeProduct()">Likes ❤️</li>
        <li nz-menu-item [routerLink]="'/carrito'" (click)="canLikeProduct()">
          <i class="pi pi-shopping-cart"></i>Carrito
        </li>
        <li nz-menu-item [routerLink]="'/login'" *ngIf="!isLogin">Iniciar Sesión</li>
        <li nz-menu-item (click)="logout()" *ngIf="isLogin" >Logout</li>

      </ul>
    </div>

    <div class="redes-sociales">
      <a href="https://instagram.com" target="_blank" rel="noopener">
        <button class="btn-redes-sociales instagram"></button>
      </a>
      <a href="https://facebook.com" target="_blank" rel="noopener">
        <button class="btn-redes-sociales facebook"></button>
      </a>
      <a href="https://x.com" target="_blank" rel="noopener">
        <button class="btn-redes-sociales twitter"></button>
      </a>
    </div>
  </nz-header>

  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-submenu nzOpen nzIcon="pi-arrows-v" nzTheme="outline" nzTitle="Categorías">
          <ul>
            <li nz-menu-item [routerLink]="'/'">General</li>
            <li nz-menu-item [routerLink]="'/motos'">Motos</li>
            <li nz-menu-item [routerLink]="'/guantes'">Guantes</li>
            <li nz-menu-item [routerLink]="'/casco'">Cascos</li>
            <li nz-menu-item [routerLink]="'/ruedas'">Ruedas</li>
            <li nz-menu-item [routerLink]="'/escapes'">Escapes</li>
            <li nz-menu-item [routerLink]="'/botas'">Botas</li>
            <li nz-menu-item [routerLink]="'/trajes-moto'">Trajes Motociclismo</li>
          </ul>
        </li>
      </ul>
    </nz-sider>


    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <!--<nz-breadcrumb-item>Motos</nz-breadcrumb-item>-->

      </nz-breadcrumb>
      <nz-content><router-outlet></router-outlet></nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>